@import url('common.css');
.main {
  box-sizing: border-box;
  padding: .15rem;
}
.main img {
  margin-bottom: .15rem;
  opacity: 0;
  transition: all .3s;
}
.main .loading.cur {
  z-index: 1;
}
.main .loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main .loading > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #000000;
  border-radius: 50%;
  z-index: -2;
}
